@import url(style.css);
@media (max-width: 480px) {
  form input,
  nav ul li a {
    font-weight: 400;
    color: #737373;
  }
  .btn-contact,
  form input {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
  }
  .btn-contact,
  .home-content p,
  form input,
  nav ul li a {
    font-style: normal;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .showmenu,
  nav box-icon,
  nav ul li {
    display: block;
  }
  .home-content h1,
  nav ul li a {
    text-align: center;
    font-family: Montserrat, sans-serif;
    flex: none;
    letter-spacing: 0.2px;
  }
  nav {
    position: relative;
  }
  .srevice-card input {
    width: 220px;
  }
  nav box-icon {
    position: absolute;
    right: 24px;
    top: 1px;
  }
  nav ul {
    background-color: #f5f5f5;
    display: none;
    height: 80vh;
    text-align: center;
    gap: 30px;
    padding-top: 60px;
  }
  nav ul li a {
    font-size: 30px;
    line-height: 45px;
    order: 2;
    flex-grow: 0;
  }
  form input {
    border: none;
    width: 200px;
    letter-spacing: 0.2px;
  }
  nav ul li {
    padding: 2% 0;
  }
  .hero,
  .home-cards,
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-content {
    padding-top: 900px;
  }
  .advice-cards {
    padding-top: 40px;
    padding-bottom: 101px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .about-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
    justify-content: space-around;
    align-items: center;
  }
  .contact-cards,
  .imgs {
    display: flex;
    flex-direction: column;
  }
  .business-content .video {
    padding-left: 0;
    padding-top: 100px;
    width: 333px;
    height: 442px;
  }
  .imgs {
    margin-top: 300px;
    align-items: center;
    gap: 60px;
  }
  .contact-cards {
    justify-content: space-between;
    padding-bottom: 208px;
  }
  .buttons,
  .service-card {
    flex-direction: column;
    display: flex;
  }
  .service-card {
    margin-top: 70.1px;
    margin-bottom: 85px;
    background: #16697a;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 100%;
    height: 414px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  .btn-contact {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    padding: 15px 40px;
    margin-top: px;
    width: 163px;
    height: 58px;
    background: #ffa62b;
    border-radius: 5px;
  }
  .btn-video {
    position: absolute;
    left: 150px;
    top: 4650px;
    z-index: 1;
  }
  .buttons {
    align-items: center;
    gap: 20px;
    padding-top: 35px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer {
    height: 1200px;
  }
  .text-content {
    display: flex;
    justify-content: center;
    padding-top: 51px;
  }
  .video {
    position: relative;
    padding-left: 196px;
    padding-bottom: 157px;
  }
  .home-content h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 80px;
    color: #252b42;
    order: 0;
    flex-grow: 0;
  }
  .home-content p {
    text-align: start;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 5px;
  }
  .home {
    background: url(./img/backround222.png) 0 0 / cover no-repeat;
    height: 710px;
  }
}
